body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table {
  border: 1px solid rgb(23, 23, 24);
  margin: auto;
}
button {
  width: 30px;
  height: 30px;
}
.start-game {
  background-color: red;
  width: auto;
}
.hidden {
  visibility: collapse;
}
.revealed {
  background-color: lightgrey;
}
.square {
  border: 1px solid grey;
}
.flagged {
  background-color: black;
}
.mine {
  background-color: red;
}
